<!DOCTYPE html>
<html>
<head>
    <title>Labb3(Jullabben)</title>
    <meta charset="utf-8" />
    <script src="Scripts/angular.min.js"></script>
    <script src="app.js"></script>
    
</head>
<body ng-app="moviesApp">
    <div ng-controller="homecontroller">
        <small>logged in as {{getCurrentUser()}}</small>
        <br />
        <input type="text" ng-model="searchTerm" />
        <hr />
        <div ng-repeat="movie in movies | filter:searchTerm | orderBy: 'title'">
            {{movie.title}} ({{movie.year}})<br />
        </div>
    </div>
</body>
</html>